.card-img-top{
    width: 500px;
    height: 300px;
}
.card{
    width: 500px;
    height: 300px;
    text-align: center;
    margin-left: 30%;
    margin-top: 2%;
    margin-bottom: 2%;

}
body{
background-color: black;
color: whitesmoke;
 
}
.git{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-bottom: 2%;
}
.twitter{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-right: 2%;
    margin-bottom: 2%;
}
footer{
    text-align: center;
}
h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: underline;
    text-decoration-color: #fc036b;
    
}
h4{
    background-color: #fc036b;
    padding: 1% 1% 1% 1%;
    border-radius: 20%;
    
}
h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: underline;
    text-decoration-color: #fc036b;
}
 section{
    margin-top: 5%;
 }
 .menu{
    color: black;
 }
 .nav-link{
    color: black;

 } 
 .card-text:hover{
    background-color: #fc036b;

 }
 .nav-link:hover{
    background: #fc036b;
    color: whitesmoke;
 }
 
 .git:hover{
    animation-name: gitAnimation;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate;
}
@keyframes gitAnimation{
    0%{
        transform: translateX(1rem);}
        100%{
            transform: scale(1.2);
        }
    }
    
.twitter:hover{ animation-name: twitterAnime;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate;
    

}
@keyframes twitterAnime{
    0%{ transform: translateY(1rem);
    }
    100%{
        transform: scale(1.2);
    }
}

