.card-img-top{
    width: 500px;
    height: 300px;
}
.card{
    width: 500px;
    height: 300px;
    text-align: center;
    margin-left: 30%;
    margin-top: 2%;
    margin-bottom: 2%;

}
body{
background-color: black;
color: whitesmoke;
 
}
.git{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-bottom: 2%;
}
.twitter{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-right: 2%;
    margin-bottom: 2%;
}
footer{
    text-align: center;
}
h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: underline;
    text-decoration-color: #fc036b;
    
}
h4{
    color: #fc036b;
}
 section{
    margin-top: 5%;
 }
 .menu{
    color: black;
 }
 .nav-link{
    color: black;

 } 
 .nav-link:hover{
    background: #fc036b;
    color: whitesmoke;
 }  